body {
    font-family: 'Arial', sans-serif;
    background-color: black;
}

#home {
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 70px;
}

.hero-container h1 {
    font-size: 60px;
    color: white;
}

.hero-container h1 span {
    display: block;
    color: red;
}

.tagline {
    color: red;
    font-size: 17px;
}

.hero-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.hero-image  img{
    width: 400px;
    height: 450px;
    object-fit: cover;
    border-radius: 35%;
}